body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  background: #000000;
}

h1 {
  color: #ff0000;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

.video {
  font-family: sans-serif;
  color: rgb(226, 226, 226);
  margin: 10px;
  text-align: center;
  width: 30%;
  border-radius: 20px;
  padding: 8px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to left, #0000006c, #212121);
  border: 2px solid #585858;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.video:hover {
  border-color: #a0a0a0;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
  cursor: pointer;
}

.video img {
  width: 90%;
  border-radius: 20px;
}
